@charset "UTF-8";

body {
    font-family: 'Noto Serif JP', sans-serif;
}



header {
    height: auto;
    width: 100%;
    background-color: beige;
}

.top {
    margin-top: 6%;
    margin-left: 10%;
    font-size: 30px;
    font-family: 'Noto Serif JP', sans-serif;
}

.cat {
    height: 60px;
}

.menu {
    margin-top: 8%;
    margin-bottom: 3%;
    display: flex;
    font-family: 'Noto Serif JP', sans-serif;
    text-transform: uppercase;
    list-style: none;

}

.menu li {
    width: 50%;
    list-style: none;
    margin-left: 2%;
}

a {
    white-space: nowrap;
    text-decoration: none;
    color: #432;
    font-size: 15px;
}

a:hover {
    color: #0bd;
    text-decoration: none;
}

.slaid {
    width: 100%;
}

.slick-slide {
    background: white;
    height: auto;

}

.cat1 {
    margin-top: 5vmin;
    width: 100%;
    height: 50vmin;
}

.news h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 27px;
}

.newstext {
    margin-left: 52px;
    margin-top: 30px;
}

.newstext2 {
    list-style: none;
    margin-left: 12px;
}

.newstext2 li {
    padding-bottom: 13px
}

.informations {
    margin-top: 130px;
    margin-bottom: 80px;
}

.information {
    margin-top: 20%;
}

.information h1 {
    text-align: center;
    font-size: 27px;
}

.eventtext {
    margin-top: 30px;
    margin-left: 52px;
}

.eventtext2 {
    list-style: none;
    margin-left: 12px;
}

.eventtext2 li {
    padding-bottom: 13px
}

/*サンプル*/
.button {
    border: 1px solid;
    border-radius: 8px;
    position: absolute;
    width: 30px;
    text-align: center;
    padding: 10px;
    width: 94%;
}

.close {
    background: #666;
}

.catup {
    margin-top: 9%;
    background-image: url(../img/catfdown.png);
    height: 33px;
    width: 100%;
    background-size: contain;
}

.catdown {
    background-image: url(../img/catfdown.png);
    height: 33px;
    width: 100%;
    background-size: contain;
}

.context {
    padding: 20px;
}

.context h1 {
    font-size: 26px;
}

footer {
    margin-top: 50px;
    background-color: beige;
    height: 80px;
    width: 100%;
    font-family: 'Noto Serif JP', sans-serif;
    text-transform: uppercase;
}

.footertext {
     background-color: beige;
/*    padding-top: 45px;*/
/*   margin-left:3%;*/
    font-size: 17px;
    color: black;
    width:100%;
}

.haku {
    padding:12px;
}

/*分館情報*/
.title-border {
    font-size: 20px;
    font-family: 'Noto Serif JP', sans-serif;
    text-transform: uppercase;

    margin-top: 7%;
    width;
    80%;
}

.title-border {
    display: flex;
    align-items: center;
}

.title-border:before,
.title-border:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
}

.title-border:before {
    margin-right: 1rem;
}

.title-border:after {
    margin-left: 1rem;
}

.title-border {
    display: flex;
    align-items: center;
}

.title-border:before,
.title-border:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
}

.title-border:before {
    margin-right: 1rem;
}

.title-border:after {
    margin-left: 1rem;
}

.td {
    font-size: 14px;
    width: 100px;
}

.td1 {
    /*    padding:4px;*/
    width: 200px;
}

.gallaly1 {
    margin-top: 10%;
    background-image: url(../img/appearance1.jpg);
    height: 400px;
    width: auto;
    background-size: cover;
}

.gallaly2 {
    margin-top: 10%;
    background-image: url(../img/appearance2.jpg);
    height: 400px;
    width: auto;
    background-size: cover;
}

.gallaly3 {
    margin-top: 10%;
    background-image: url(../img/appearance3.jpg);
    height: 400px;
    width: auto;
    background-size: cover;
}

table {
    margin-top: 50px;
    font-size: 15px;
}

.web1 {
    text-align: center;
    margin-top: 40px;
}

.web1 a {
    margin-top: 4px;
    padding: 10px 32px;
    background-color: #03A9F4;
    color: white;
}

/*利用内容*/
.time {
    margin-top: 30px;
    margin-left: 1.5%;
    width: 100%;
}

.time li {
    list-style: none;
    width: 90%;
}

.time p {
    border-left: 8px solid;
    border-left-color: #00a096;
    font-size: 22px;
    margin-top: 40px;
    background-color: #dbedf0;
    width: 180px;
}
